{% extends 'layout.html'%}
{% load static %}

{% block titulo %}Acerca de{% endblock %}
{% block cuerpo %}

<div class="container">

	<h2>Sobre nosotros...</h2>
	<p>Sit iusto quod animi numquam voluptas Debitis unde quisquam ex voluptatibus harum Incidunt illo quam quae minus voluptate Iusto sunt eius provident harum molestiae impedit? Voluptatum quaerat sint corrupti expedita</p>
	<p>Elit quas perspiciatis officiis voluptates corrupti? Eveniet ad est eos distinctio sapiente Cupiditate quae debitis aspernatur ducimus eos Vitae cumque nulla error recusandae vitae. Ut optio velit placeat necessitatibus sit!</p>
	<p>Adipisicing tenetur ad quod hic magni. Porro atque vel in magnam modi Voluptatem necessitatibus enim iure atque elit. Officiis ratione pariatur debitis ad dolorem quos. Eveniet optio recusandae magni dolorum</p>
	<p>Lorem earum adipisci harum beatae voluptatem Recusandae voluptatum ratione error ad consectetur Eligendi veritatis iste reprehenderit tempora quae sunt. Nam tempore et nam illum eius? Rem ipsa ex autem corrupti.</p>
	<p>Dolor consequatur quasi placeat eveniet adipisci. Odit tenetur esse sed id atque Quod dolorem vitae expedita facere facilis excepturi rerum incidunt! Maxime laborum officiis maiores sit non praesentium Unde eaque?</p>

</div>

{% endblock %}
