{% extends 'layout.html'%}

{% block titulo %}Principal{% endblock %}
{% block cuerpo %}

{% load humanize %}

<br>

<div class="container">
	{% if page == '1' or page == 1 %}
	<h2>Últimos productos</h2>
	<div class="row d-flex justify-content-between">
		{% for producto in tres_productos %}
		<div class="card m-3 imagen">
			<img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.titulo }}" style="height: 280px;width: 18rem;">
			<div class="card-body">
				<h2 class="card-title">{{ producto.titulo | capfirst}}</h2>
				<h3>${{ producto.precio | intcomma }}</h3>
				<a href="{% url 'visualizar' producto.id %}" class="btn btn-info">VER PRODUCTO</a>
			</div>
		</div>
		{% endfor %}
	</div>

	{% endif %}
	<h2>Más productos</h2>
	<div class="list-group">
		{% for producto in entity %}
		<a href="{% url 'visualizar' producto.id %}" class="list-group-item list-group-item-action ">
			<div class="d-flex w-100 justify-content-between">
				<div class="detalle">
					<h2 class="mb-1">{{ producto.titulo }}</h2>
					<p class="mb-1">{{ producto.descripcion }}</p>
					<p>${{ producto.precio | intcomma }}</p>
				</div>
				<img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" style="width:100px; height:100px;">
			</div>
		</a>
		{% endfor %}
	</div>

</div>

<hr>

<div class="paginator">
	{% include 'paginator.html' %}
</div>

{% endblock %}
